@import url("https://fonts.googleapis.com/css?family=Roboto:400");
/*@font-face { font-family: "Roboto"; src: url("../fnt/Roboto-Regular.ttf");}*/

* { box-sizing: border-box; margin: 0px; padding: 0px; outline: none;}
html { height: 100%;}
body { height: 100%; font-size: 0px; font-family: "Roboto";}
input { font-family: "Roboto";}
h1, h2, h3, h4, h5, h6 { font-weight: 400;}
a { text-decoration: none;}

#main_aside { display: inline-block; vertical-align: top; box-sizing: border-box; height: 100%; width: 400px; border-right: 1px solid #ccc; background-color: #eee; overflow: auto;}
	#main_aside > .header { display: block; border-bottom: 1px solid #ccc;}
		#main_aside > .header > h1 { display: block; height: 40px; line-height: 40px; font-size: 16px; text-align: center;}

#main_div { display: inline-block; vertical-align: top; height: 100%; width: calc(100% - 400px); overflow: auto;}
	#grid { display: block; position: relative; margin: 20px; border-top: 1px solid #ddd; border-left: 1px solid #ddd;}
		#grid > .cell {display: inline-block; vertical-align: top; box-sizing: border-box; width: 40px; height: 40px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
		#grid > .robot { display: block; position: absolute; width: 40px; height: 40px; background-image: url("../img/robot.png"); transition: all 100ms;}
